#content {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/registrationWallpaper.jpg);
	height: 100vh;
}

label{
	color: white;
}

h1 {
	color: #fff;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-rendering: optimizeLegibility;
}
/* ------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------*/
.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li{
    display: inline;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom:  2px solid #229be6 transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:  2px solid #229be6;
}


/* ------------------------------------------------*/
/* BUTTONS */
/* ------------------------------------------------*/
.btn{
	border-radius: 15px;
	padding: 0.8rem 2rem;
	font-size: 0.8rem;
	margin-top: 2rem;
}
.btn:link,
.btn:visited{
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-submit:link,
.btn-submit:visited{
    background-color: #20a32f;
    border: 1px solid white;
    color: #fff;
    margin-right: 15px;
		transition: all 0.3s;    

}

.btn-reset:link,
.btn-reset:visited{
    border: 1px solid;
    color: #ea1515;
}

.btn:hover,
.btn:active{
    background-color: #20a32f;
}

.btn-submit:hover,
.btn-submit:active{
    background-color: #20a32f;
	transform: scale(1.2);
	box-shadow: 0 10px 40px rgba(#fff, 0.2);
}

.btn-reset:hover,
.btn-reset:active{
    background-color: #ea1515;
    color: #fff;
}